# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

build_file: "git/functions-framework-nodejs/.kokoro/build.sh"
container_properties {
  docker_image: "us-docker.pkg.dev/artifact-foundry-prod/docker-3p-trusted/node:22.13.1-bookworm"
}

fileset_artifacts {
  name: "artifacts"
  artifact_globs: "artifacts/*"
  error_if_missing: true
  destinations {
    store_attestation: true
    gcs {
      gcs_root_path: "oss-exit-gate-prod-projects-bucket/ff-releases/npm/attestations"
    }
  }
  generate_sbom_from_fileset: true
  generate_attestation: true
}
