name: Node.js Conformance CI
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        runtime: ['nodejs10', 'nodejs12']
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.13'
    - name: Setup test data
      run: "./test/conformance/set_up_conformance_tests.sh"
    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.5
      with:
        functionType: 'http'
        validateMapping: false
        source: 'test/conformance'
        target: 'writeHttp'
        runtime: ${{ matrix.runtime }}
        startDelay: 10
    - name: Run event conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.5
      with:
        functionType: 'legacyevent'
        validateMapping: false
        source: 'test/conformance'
        target: 'writeLegacyEvent'
        runtime: ${{ matrix.runtime }}
        startDelay: 10
    - name: Run cloudevent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.5
      with:
        functionType: 'cloudevent'
        validateMapping: true
        source: 'test/conformance'
        target: 'writeCloudEvent'
        runtime: ${{ matrix.runtime }}
        startDelay: 10
