name: Node.js Conformance CI
on:
  push:
    branches:
      - main
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            registry.npmjs.org:443
            release-assets.githubusercontent.com:443
            storage.googleapis.com:443
            sum.golang.org:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build Functions Framework
        run: npm ci

      - name: Build test project
        working-directory: ./test/conformance
        run: npm install

      - name: Install conformance client
        uses: GoogleCloudPlatform/functions-framework-conformance/.github/actions/client/install@72a4f36b10f1c6435ab1a86a9ea24bda464cc262 # v1.8.6
        with:
          client-version: v1.8.3
          cache-path: ~/client
          cache-key: conformance-client-v1.8.3

      - name: Run HTTP conformance tests using legacy API
        working-directory: 'test/conformance'
        run: |
          ~/client \
              -type=http \
              -buildpacks=false \
              -cmd="npm start -- --target=writeHttp --signature-type=http"

      - name: Run event conformance tests using legacy API
        working-directory: 'test/conformance'
        run: |
          ~/client \
              -type=legacyevent \
              -buildpacks=false \
              -cmd="npm start -- --target=writeLegacyEvent --signature-type=event"

      - name: Run cloudevent conformance tests using legacy API
        working-directory: 'test/conformance'
        run: |
          ~/client \
              -type=cloudevent \
              -buildpacks=false \
              -cmd="npm start -- --target=writeCloudEvent --signature-type=cloudevent"

      - name: Run HTTP conformance tests using declarative API
        working-directory: 'test/conformance'
        run: |
          ~/client \
              -type=http \
              -buildpacks=false \
              -validate-mapping=false \
              -cmd="npm start -- --target=writeHttpDeclarative"

      - name: Run cloudevent conformance tests using declarative API
        working-directory: 'test/conformance'
        run: |
          ~/client \
              -type=cloudevent \
              -buildpacks=false \
              -validate-mapping=true \
              -cmd="npm start -- --target=writeCloudEventDeclarative"

      - name: Run HTTP concurrency test
        working-directory: 'test/conformance'
        run: |
          ~/client \
              -type=http \
              -buildpacks=false \
              -validate-concurrency=true \
              -cmd="npm start -- --target=concurrentHttp"
