name: Node.js Conformance CI
on: 
  push:
    branches:
    - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        runtime: ['nodejs10', 'nodejs12', 'nodejs14', 'nodejs16']
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.15'

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build Functions Framework
      run: npm ci

    - name: Build test project
      working-directory: ./test/conformance
      run: npm install

    - name: Run HTTP conformance tests using legacy API
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.2.0
      with:
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        workingDirectory: 'test/conformance'
        cmd: "'npm start -- --target=writeHttp --signature-type=http'"

    - name: Run event conformance tests using legacy API
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.2.0
      with:
        functionType: 'legacyevent'
        useBuildpacks: false
        validateMapping: true
        workingDirectory: 'test/conformance'
        cmd: "'npm start -- --target=writeLegacyEvent --signature-type=event'"

    - name: Run cloudevent conformance tests using legacy API
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.2.0
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        workingDirectory: 'test/conformance'
        cmd: "'npm start -- --target=writeCloudEvent --signature-type=cloudevent'"

    - name: Run HTTP conformance tests using declarative API
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.2.0
      with:
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        workingDirectory: 'test/conformance'
        cmd: "'npm start -- --target=writeHttpDeclarative'"

    - name: Run cloudevent conformance tests using declarative API
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v1.2.0
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        workingDirectory: 'test/conformance'
        cmd: "'npm start -- --target=writeCloudEventDeclarative'"
